body {
  background: rgb(85, 144, 189);
  background:
    linear-gradient(
      90deg,
      rgb(76, 140, 189) 0%,
      rgb(109, 192, 255) 54%,
      rgba(182, 216, 242, 1) 82%
    );
  text-align: center;
}

nav {
  width: 90%;
  margin: auto;
}

.nav-right {
  margin-right: 12rem;
}

.container-fluid {
  position: relative;
}

.logo-text {
  margin-left: 13rem;
  font-family: 'Sora', sans-serif;
}

.pokemons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  margin-top: 1rem;
  height: 100%;
}

.pokecard {
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  width: 100%;
}

.pokeimg-container {
  background-image: url("../assets/elembak.svg");
  background-repeat: no-repeat;
  background-position: center;
  flex: 1;
  display: flex;
  overflow: hidden;
}

.poke-name {
  text-transform: capitalize;
  font-weight: bold;
}

.pokeimg-container img {
  text-align: center;
  display: block;
  margin: auto;
  flex-basis: 15%;
  flex-grow: 0.2;
  object-fit: contain;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
}

.comment-button {
  flex-basis: 17%;
}

.name-likes-container {
  top: 6%;
  right: 3%;
}

.bi-heart {
  cursor: pointer;
}

.p-img {
  width: 155px;
  height: 227px;
}

#images img {
  width: 80%;
}

.form {
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
}

.form input[type="text"] {
  border: 3px solid #333;
  padding: 6px;
  margin-bottom: 10px;
  width: 98%;
  display: block;
}

#commentSection {
  display: flex;
  flex-direction: column;
}

#comments {
  height: 69px;
}

.form input[type="submit"] {
  align-self: flex-end;
  background: #fff;
  border: 1px solid #333;
  box-shadow: 2px 2px #333;
  cursor: pointer;
  font-family: monospace, sans-serif;
  font-weight: 700;
  padding: 3px 6px;
  margin-right: 2px;
  transition: all 100ms ease;
}

.form input[type="submit"]:hover {
  background: #333;
  color: #fff;
  box-shadow: none;
  transform: translate(1px, 1px);
}

#comments-table-wrapper {
  text-align: start;
  width: 80%;
}

.footer {
  z-index: -1 !important;
  width: 90%;
  margin: auto;
}

.main-spinner {
  height: 20rem;
  width: 20rem;
  position: relative;
  top: 13rem;
}

.poke-counter {
  margin-left: 40rem;
}

.rounded-pill {
  border-radius: 3rem !important;
}

@media only screen and (max-width: 720px) {
  .poke-counter {
    margin-left: auto;
    font-style: italic;
  }

  .logo-text {
    margin-left: 1rem !important;
  }

  .pokemons {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    margin-top: 1rem;
    height: 100%;
  }

  .footer {
    margin-bottom: 1rem;
  }
}

@media only screen and (min-width: 800px) {
  .logo-text {
    margin-left: 2.5rem !important;
  }

  .poke-counter {
    margin-left: auto;
  }

  .pokemons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    margin-top: 1rem;
    height: 100%;
  }

  .nav-right {
    margin-right: auto;
  }

  .footer {
    margin-bottom: 1rem;
  }

  @media only screen and (min-width: 1140px) {
    .logo-text {
      margin-left: 13rem !important;
    }

    .nav-right {
      margin-right: auto;
    }

    .poke-counter {
      margin-left: 40rem;
    }

    .pokemons {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 1rem;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 1rem;
      margin-top: 1rem;
      height: 100%;
    }

    .footer {
      margin-bottom: auto;
    }
  }
}
